@charset "UTF-8";
/* FLOCSSで記述 */
/* ブラウザのデフォルトのスタイルをリセットするcssを定義*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* プロジェクトにおける変数を定義 */
/* プロジェクトにおける基本的なスタイルを定義 */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1;
  color: #3C2A10;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #3C2A10;
}

button {
  border: none;
  background-color: inherit;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* メディアクエリなど */
/* ヘッダーのスタイルを定義 */
.l-header {
  grid-area: header;
  background-color: #FFF7EF;
}

.l-header h1 {
  width: 203px;
  margin: 28px auto 0;
}

@media screen and (min-width: 1553px) {
  .l-header h1 {
    margin: 67px 0 0 65px;
  }
}

.l-header form {
  padding-top: 39px;
}

@media screen and (min-width: 1553px) {
  .l-header form {
    padding-top: 12px;
  }
}

/* メインエリアのスタイルを定義 */
/* セクションエリアのスタイルを定義 */
.l-section-map {
  grid-area: map;
  background-image: url("/img/page-title_map.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

@media screen and (min-width: 834px) {
  .l-section-map {
    background-image: url("/img/page-title_map@2x.jpg");
    background-size: cover;
  }
}

.l-section-pagiNation {
  grid-area: pagiNa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* サイドバーエリアのスタイルを定義 */
/* フッターのスタイルを定義 */
.l-footer {
  grid-area: footer;
  background-image: url("/img/footer-pc.jpg");
  text-align: center;
  color: #FFF;
}

.l-footer > a:first-of-type {
  border-right: 2px solid #FFF;
}

.c-btn-header {
  height: 24px;
  font-size: 2rem;
  color: #3C2A10;
  float: right;
}

@media screen and (min-width: 834px) {
  .c-btn-header {
    font-size: 3.4rem;
  }
}

@media screen and (min-width: 1553px) {
  .c-btn-header {
    font-size: 3.6rem;
    background-color: #F2EDE9;
    -webkit-transform: translate(175px, 70px);
            transform: translate(175px, 70px);
  }
}

.c-btn-serch {
  padding: 0;
  width: 78px;
  height: 46px;
  font-family: "M + 1m";
  color: #3C2A10;
  font-size: 1.6rem;
  background-color: #F2EDE9;
  border: 1px solid #3C2A10;
  border-radius: 10px;
  vertical-align: top;
}

@media screen and (min-width: 834px) {
  .c-btn-serch {
    width: 136px;
  }
}

.c-btn-x {
  float: right;
}

@media screen and (min-width: 1553px) {
  .c-btn-x {
    display: none !important;
  }
}

.c-btn-menu {
  width: 48%;
  height: 42.47px;
  background-color: #FFF;
  border-radius: 20px;
  font-size: 1.6rem;
  font-family: "M + 1m";
}

.c-deco-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 2.4rem;
  padding: 11px 16px;
}

.c-deco-underLine {
  border-bottom: 4px #FFF solid;
  width: 10%;
}

.c-deco-prev, .c-deco-next {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "M + 1m";
  margin-bottom: 31px;
}

.c-grid-front {
  display: -ms-grid;
  display: grid;
  grid-template: "header header header" 217px "mainVi mainVi mainVi" 285px "...... ...... ......" 20px "...... takeOu ......" 642px "...... ...... ......" 20px "...... eatIn  ......" 642px "...... ...... ......" 49px "map    map    map   " 691px "footer footer footer" 150px /20px   1fr    20px;
}

@media screen and (min-width: 834px) {
  .c-grid-front {
    grid-template: "header header header header header" 217px "mainVi mainVi mainVi mainVi mainVi" 285px "...... ...... ...... ...... ......" 40px "...... takeOu ...... eatIn  ......" 681px "...... ...... ...... ...... ......" 40px "map    map    map    map    map   " 415px "footer footer footer footer footer" 150px /40px   1fr    40px   1fr    40px;
  }
}

@media screen and (min-width: 1553px) {
  .c-grid-front {
    grid-template: "header header header header header menu  " 217px "mainVi mainVi mainVi mainVi mainVi menu  " 530px "...... ...... ...... ...... ...... menu  " 120px "...... takeOu ...... eatIn  ...... menu  " 1196px "...... ...... ...... ...... ...... menu  " 131px "map    map    map    map    map    menu  " 649px "footer footer footer footer footer footer" 150px/minmax(111px, 1fr) 32.55% minmax(40px, auto) 32.55% minmax(111px, 1fr) 367px;
  }
}

.c-grid-archive {
  display: -ms-grid;
  display: grid;
  grid-template: "header header header" 217px "mainVi mainVi mainVi" 285px "...... ...... ......" 20px "...... mVtext ......" 358px "...... ...... ......" 20px "...... menu1  ......" 642px "...... ...... ......" 20px "...... menu2  ......" 691px "...... ...... ......" 20px "...... menu3  ......" 691px "...... ...... ......" 20px "...... pagiNa ......" 91px "footer footer footer" 150px /20px   1fr    20px;
}

@media screen and (min-width: 834px) {
  .c-grid-archive {
    grid-template: "header header header header header" 217px "mainVi mainVi mainVi mainVi mainVi" 285px "...... ...... ...... ...... ......" 40px "...... takeOu ...... eatIn  ......" 681px "...... ...... ...... ...... ......" 40px "map    map    map    map    map   " 415px "footer footer footer footer footer" 150px /40px   1fr    40px   1fr    40px;
  }
}

@media screen and (min-width: 1553px) {
  .c-grid-archive {
    grid-template: "header header header header header menu  " 217px "mainVi mainVi mainVi mainVi mainVi menu  " 530px "...... ...... ...... ...... ...... menu  " 120px "...... takeOu ...... eatIn  ...... menu  " 1196px "...... ...... ...... ...... ...... menu  " 131px "map    map    map    map    map    menu  " 649px "footer footer footer footer footer footer" 150px/minmax(111px, 1fr) 32.55% minmax(40px, auto) 32.55% minmax(111px, 1fr) 367px;
  }
}

@media screen and (min-width: 1553px) {
  .c-input {
    position: absolute;
    top: 67px;
    right: 400px;
  }
}

.c-input-header {
  width: 230px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #3C2A10;
}

@media screen and (min-width: 834px) {
  .c-input-header {
    width: 396px;
  }
}

.c-text-ctr {
  text-align: center;
}

.c-text-header {
  color: #3C2A10;
  font-size: 4rem;
}

.c-text-menu {
  font-family: "M + 1m";
  font-size: 2.4rem;
  line-height: 1.5;
}

.c-text-menu-item {
  font-family: "M + 1m";
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.5;
}

.c-text-menuName {
  font-family: "M + 1m";
  font-size: 2rem;
  color: #FFF;
}

.c-text-menuSub {
  font-family: "M + 1m";
  font-size: 1.6rem;
  color: #FFF;
}

.c-text-menuP {
  line-height: 1.43;
  font-weight: normal;
  width: 82%;
}

.c-text-mv {
  font-family: "M + 1m";
  color: #FFF;
  font-size: 3.6rem;
  height: 51px;
  width: 216px;
  position: absolute;
  top: calc(50% - 51px / 2);
  left: 25px;
  z-index: 1;
}

.c-text-mv-sub {
  font-family: "M + 1m";
  color: #FFF;
  font-size: 1.6rem;
  position: absolute;
  top: calc(68% - 51px / 2);
  left: 25px;
  z-index: 1;
}

.c-text-mv-text {
  font-family: "M + 1m";
  font-size: 2.8rem;
}

.c-text-mv-text-p {
  font-family: "M + 1m";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.45;
}

.c-text-box {
  font-size: 4.1rem;
  color: #FFF;
}

.c-text-box-map {
  font-family: "M + 1m";
  font-size: 3rem;
}

.c-text-box-map-p {
  font-family: "M + 1m";
  font-size: 1.4rem;
  color: #FFF;
  line-height: 2.36;
  overflow: hidden;
}

@media screen and (min-width: 1553px) {
  .c-text-box-map-p {
    font-size: 1.6rem;
  }
}

.c-text-boxInr {
  font-family: "M + 1m";
  font-size: 2.2rem;
  color: #707070;
}

.c-text-boxInr-p {
  font-family: "M + 1m";
  font-size: 1.6rem;
  color: #707070;
  font-weight: normal;
  line-height: 1.4375;
}

.c-text-footerLink {
  font-family: "M + 1m";
  font-size: 2rem;
  color: #FFF;
  font-weight: normal;
  line-height: 1;
}

.c-text-footerSmall {
  font-family: "M + 1m";
  font-size: 1.4rem;
  color: #FFF;
  font-weight: normal;
  display: block;
}

.p-box {
  padding: 15px 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.p-box__takeOut {
  grid-area: takeOu;
  background-image: url("/img/takeOut_img.jpg");
}

.p-box__eatIn {
  grid-area: eatIn;
  background-image: url("/img/page-title_arcive2@2x.jpg");
}

.p-box__inr {
  width: 93.73%;
  height: 35.39%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 19px 10px;
}

@media screen and (min-width: 1553px) {
  .p-box__inr {
    height: 174px;
  }
}

.p-box > div:nth-of-type(2) {
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
}

.p-box-shadow {
  background-color: rgba(0, 0, 0, 0.29);
  height: 60%;
}

@media screen and (min-width: 834px) {
  .p-box-shadow {
    height: 100%;
  }
}

@media screen and (min-width: 1553px) {
  .p-box-shadow {
    max-width: 60%;
    padding-top: 83px;
  }
}

.p-box__menu1 {
  grid-area: menu1;
}

.p-box__menu2 {
  grid-area: menu2;
}

.p-box__menu3 {
  grid-area: menu3;
}

.p-box__menu-img {
  background-image: url("/img/menuImg-sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 39%;
}

.p-box__menu-text {
  height: 61%;
  background-color: #3C2B1C;
  padding: 18px;
  position: relative;
}

.p-box__menu-text h2 {
  margin-top: 12px;
}

.p-box__menu-text h3 {
  margin-top: 24px;
}

.p-box__menu-text p {
  margin-top: 10px;
}

.p-box__menu-text button {
  position: absolute;
  bottom: 12%;
  left: calc(50% - 26%);
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.p-mainVisual {
  grid-area: mainVi;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.p-mainVisual-front {
  background-image: url("/img/mainvisual-sp@2x.jpg");
}

@media screen and (min-width: 834px) {
  .p-mainVisual-front {
    background-image: url("/img/mainvisual-pc.jpg");
  }
}

@media screen and (min-width: 1553px) {
  .p-mainVisual-front {
    background-image: url("/img/mainvisual-pc@2x.jpg");
  }
}

.p-mainVisual-archive {
  background-image: url("/img/page-title_arcive.jpg");
  position: relative;
}

.p-mainVisual-archive::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.p-mainVisual-text {
  grid-area: mVtext;
}

.p-mainVisual-text p {
  min-height: 276px;
  overflow: hidden;
  padding-top: 30px;
}

.p-nav {
  width: 87vw;
  height: 2716px;
  padding: 25px 17px 0;
  background-color: #F2EDE9;
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: 100;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (min-width: 834px) {
  .p-nav {
    width: 44vw;
    height: 1828px;
  }
}

@media screen and (min-width: 1553px) {
  .p-nav {
    position: static;
    width: auto;
    height: 100%;
    grid-area: menu;
  }
}

.m-ctr {
  margin: 0 auto;
}

.mt-9 {
  margin-top: 9px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-34 {
  margin-top: 34px;
}

.mt-187 {
  margin-top: 187px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-47 {
  margin-left: 47px;
}

.p-16 {
  padding: 16px;
}

.p-40 {
  padding: 40px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-39 {
  padding-top: 39px;
}

.pl-22 {
  padding-left: 22px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-17 {
  padding-left: 17px;
  padding-right: 17px;
}

.py-11 {
  padding-top: 11px;
  padding-bottom: 11px;
}
/*# sourceMappingURL=style.css.map */