.c-btn {
  &-header {
    height: 24px;
    font-size: 2rem;
    color: $color-font;
    float: right;
    @include mq(tab) {
      font-size: 3.4rem;
    }
    @include mq(pc) {
      font-size: 3.6rem;
      background-color: $color-btn;
      transform: translate(175px, 70px);
    }
  }
  &-serch {
    padding: 0;
    width: 78px;
    height: 46px;
    font-family: $font-J;
    color: $color-font;
    font-size: 1.6rem;
    background-color: $color-btn;
    border: 1px solid $color-font;
    border-radius: 10px;
    vertical-align: top;
    @include mq(tab) {
      width: 136px;
    }
  }
  &-x {
    float: right;
    @include mq(pc) {
      display: none !important;
    }
  }
  &-menu {
    width: 48%;
    height: 42.47px;
    background-color: $color-white;
    border-radius: 20px;
    font-size: 1.6rem;
    font-family: $font-J;
  }
}