.c-button {
  &-menu {
    font-size: 2rem;
    font-weight: bold;
    color: $color-font;
    cursor: pointer;
    @include tab {
      font-size: 3.4rem;
    }
    &:hover {
      opacity: .7;
    }
  }
  &-x {
    &:hover {
      opacity: .7;
    }
    @include pc {
      display: none !important;
    }
  }
  &-detail {
    display: inline-block;
    background-color: $color-font-white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 50%;
  }
}