.c-button {
  &-menu {
    font-size: 2rem;
    font-weight: bold;
    color: $color-font;
    cursor: pointer;
    @include tab {
      font-size: 3.4rem;
    }
    @include pc {
      background-color: $color-bg-gnav;
      pointer-events: none;
    }
    &:hover {
      opacity: .7;
      @include pc {
        opacity: 1;
      }
    }
  }
  &-x {
    &:hover {
      opacity: .7;
    }
    @include pc {
      display: none !important;
    }
  }
  &-detail {
    display: inline-block;
    background-color: $color-font-white;
    border-radius: 20px;
    text-align: center;
    width: 40%;
    padding: 10px;
  }
  &-general {
    max-width: 429px;
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid $color-font;
    color: $color-font-main;
    background: $color-bg-button-general;
  }
}