.c-input {
  @include mq(pc) {
    position: absolute;
    top: 67px;
    right: 400px;
  }
  &-header {
    width: 230px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid $color-font;
    @include mq(tab) {
      width: 396px;
    }
  }
}