.c-input {
  &-serch{
    &Box {
      padding-left: 16px;
      border: 1px solid $color-font;
      border-radius: 10px;
      font-size: 2rem;
      font-family: FontAwesome;
      width: 230px;
      height: 46px;
      @include tab {
        width: 396px;
      }
    }
    &Button {
      padding: 11px 16px;
      border: 1px solid $color-font;
      border-radius: 10px;
      font-weight: bold;
      font-size: 1.6rem;
      color: $color-font;
      background-color: $color-bg-button;
      cursor: pointer;
      width: 78px;
      height: 46px;
      @include tab {
        width: 136px;
      }
      &:hover {
        opacity: .7;
      }
    }
  }
}