.c-input {
  &-form {
    display: block;
    white-space:nowrap;
  }
  &-header {
    width: 230px;
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border: 1px solid $color-font;
    @include mq(tab) {
      width: 396px;
    }
  }
}