.m-ctr {
  margin: 0 auto;
}
.mt-9 {
  margin-top: 9px;
}
.mt-19 {
  margin-top: 19px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-34 {
  margin-top: 34px;
}
.mt-187 {
  margin-top: 187px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-47 {
  margin-left: 47px;
}