.p-box {
  padding: 15px 10px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  &__takeOut {
    grid-area: takeOu;
    background-image: url('/img/takeOut_img.jpg');
  }
  &__eatIn {
    grid-area: eatIn;
    background-image: url('/img/page-title_arcive2@2x.jpg');
  }
  &__inr {
    width: 93.73%;
    height: 35.39%;
    background-color: $color-white-thin;
    padding: 19px 10px;
    @include mq(pc) {
      height: 174px;
    }
  }
  & > div:nth-of-type(2) {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;

  }
  &-shadow {
    background-color: $color-black-thin;
    height: 60%;
    @include mq(tab) {
      height: 100%;
    }
    @include mq(pc) {
      max-width: 60%;
      padding-top: 83px;
    }
  }
  &__menu {
    &1 {
      grid-area: menu1;
    }
    &2 {
      grid-area: menu2;
    }
    &3 {
      grid-area: menu3;
    }
    &-img {
      background-image: url('/img/menuImg-sp.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 39%;
    }
    &-text {
      height: 61%;
      background-color: $color-menu;
      padding: 18px;
      position: relative;
      h2 {
        margin-top: 12px;
      }
      h3 {
        margin-top: 24px;
      }
      p {
        margin-top: 10px;
      }
      button {
        position: absolute;
        bottom: 12%;
        left: calc(50% - 26%);
      }
    }
  }
}