.p-header {
  padding: 14px 16px 26px;
  background-color: $color-bg-header;
  min-height: 217px;
  &__search {
    @include pc {
      width: 546px;
      white-space: nowrap;
    }
  }
  button {
    width: 86px;
  }  
  form {
    margin-top: 38px;
    @include pc {
      margin-top: 0;
    }
  }
}