.p-nav {
  width: 87vw;
  height: 2716px;
  padding: 25px 17px 0;
  background-color: $color-btn;
  position: absolute;
  top: 0;
  right: -100vw;
  z-index: 100;
  transition: all 1s;
  @include mq(tab) {
    width: 44vw;
    height: 1828px;
  }
  @include mq(pc) {
    position: static;
    width: auto;
    height: 100%;
    grid-area: menu;
  }
}