/* フッターのスタイルを定義 */
.l-footer {
  grid-area: footer;
  background-image: url('/img/footer-pc.jpg');
  text-align: center;
  color: $color-white;
  & > a:first-of-type {
    border-right: 2px solid $color-white;
  }
}