.l-header {
  display: flex;
  flex-direction: column;
  button {
    align-self: flex-end;
    @include pc {
      display: none;
    }
  }
  h1,form {
    align-self: center;
  }
  @include pc {
    flex-direction: row;
    justify-content: space-between;
  }
}