/* ヘッダーのスタイルを定義 */

.l-header {
  grid-area: header;
  background-color: $color-bg;
  h1 {
    width: 203px;
    margin: 28px auto 0;
    @include mq(pc) {
      margin: 67px 0 0 65px;
    }
  }
  form {
    padding-top: 39px;
    @include mq(pc) {
      padding-top: 12px;
    }
  }
}