/* セクションエリアのスタイルを定義 */

.l-section {
  &-map {
    grid-area: map;
    background-image: url('/img/page-title_map.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    @include mq(tab) {
      background-image: url('/img/page-title_map@2x.jpg');
      background-size: cover;
    }
  }
  &-pagiNation {
    grid-area: pagiNa;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}