.l-section {
  &-mv {
    width: 100%;
    min-height: 285px;
    height: 285px;
    position: relative;
    @include pc {
      height: 530px;
    }
    h2 {
      position: absolute;
      top: calc(50% - 18px);
      left: 6.6%;
    }
  }
}